<h1>Sign Up for a new account! </h1>

<form action="/signup" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="text" name="title" placeholder="Blog Title">
  <input type="submit" value="Submit">
</form>